@charset "utf-8";
/* CSS Document */

html{font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{overflow-x:hidden;margin:0;height:100%;background-color:#f5f5f5;color:#333;-webkit-overflow-scrolling:touch;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
a{ color:#333;text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);outline:0;}
img{border:0;vertical-align:middle;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit;}
button{overflow:visible; -webkit-tap-highlight-color:rgba(0,0,0,0);}
button,select{text-transform:none;}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}
input[type=search]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
button,html,input,select,textarea{font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif; outline:0;}
blockquote,figure,form,h1,h2,h3,h4,h5,h6,p{margin:0;}
dd,dl,li,ol,ul{margin:0;padding:0;}
ol,ul{list-style:none outside none;}
a:hover.react{background:rgba(0,0,0,.1);}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.top_header{ height:50px; background:#0099e5; line-height:50px; text-align:center; color:#fff; font-size:18px; letter-spacing:5px; border-bottom:1px solid #008dd3;}
.cashier_order{ overflow:hidden; background:#fff; padding:5%; font-size:18px; color:#666; line-height:26px;}
.cashier_order h3{ color:#333; font-size:18px;}
.cashier_order span{ float:right;}
.cashier_order span img{ width:46px; margin-top:3px;}
.order_con{ border-top:1px dashed #e6e6e6; padding:5%;}
.order_con input{ display:block; width:100%; border:0px; background:#e3e3e3; font-size:14px; padding:3%; margin-bottom:10px; border-radius:3px; height:40px;}
.cashier_con{ overflow:hidden;}
.cashier_con dt{ background: url(img/sy_xg_02.jpg) #292929 top no-repeat; background-size:100%;color:#fff; text-align:right; padding-top:10%; padding-bottom:8%; padding-right:5%; font-size:30px;}
.cashier_con  dd{ width:100%; overflow:hidden; background:#f5f5f5; height:340px;}
.cashier_con_num{ width:76%; float:left; overflow:hidden;}
.cashier_con_button{ width:24%; float:left; height:289px; text-align:center;}
.cashier_con_button ul li{ height:68px; text-align:center;}
.cashier_con_button ul li img{ height:90%; margin-top:5%;}
.cashier_con_num ul li{ width:33%; float:right; text-align:center; border-bottom:1px solid #e6e6e6; border-right:1px solid #e6e6e6; line-height:70px; overflow:hidden; font-size:35px;}
.cashier_con_num ul li button{ background:none; border:0px;-webkit-appearance: none; -webkit-tap-highlight-color:rgba(0,0,0,0.1); width:100%; height:85px;line-height:70px; }
.cashier_con_num ul li button img{ height:30px;}
.c1{ background:#28a9e2;}
.c2{ background:#5ab653;}
.c3{ background:#ff4e00;}
.c4{ background:#dd1818;}
.c5{ background:#ffae00;}


.set_con dl{ background:#fff; width:96%; margin:10px auto; overflow:hidden;display:-webkit-box ;display:box;display: -moz-box; padding-top:10px;}
.set_con dl dt{ width:50px; margin-left:10px; margin-right:10px;}
.set_con dl dt img{ width:100%;}
.set_con dl dd{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;}
.set_con dl dd h2{ border-bottom:1px solid #e6e6e6; font-size:16px; height:36px; line-height:30px;}
.set_con dl dd h2 a{ float:right; border:1px solid #0099e5; font-size:14px; font-weight:100; margin-right:10px; padding:0 10px; height:25px; line-height:25px; border-radius:3px;}
.set_con dl dd h2 a:hover{ background:#0099e5; color:#fff;}
.set_con_body{display:-webkit-box ;display: -moz-box; display:box; padding:10px 0 15px; color:#777; line-height:24px;}
.set_con_body_con{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1; font-size:14px;}
.set_con_body_line{ width:20px; border-left:1px solid #e6e6e6;}
.set_con_body_con span{ font-size:18px;}
.red{ color:#e30000;}
.org{ color:#ff3f01;}

.real_box{ background:#fff; overflow:hidden;}
.real_box dl{ border-bottom:1px solid #e6e6e6; overflow:hidden; padding:10px;display:-webkit-box ;display:box;display: -moz-box; line-height:35px;}
.real_box dl dt{ width:80px; font-size:16px;}
.real_box dl dd{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;font-size:15px; }
.real_box dl dd input{ border:0px; background:none; width:100%; font-size:15px;}
.real_photo{ border:1px dashed #b4b4b4; background:none; width:90%; margin-bottom:10px; line-height:20px; color:#b4b4b4; padding:32px 0;}
.real_photo span{ font-size:30px;}
.real_select{ float:right; border:0px; margin-top:8px; font-size:15px;}
.real_sub{ background:#0099e5; margin:15px auto; width:94%; font-size:18px;border:0; border-radius:5px; color:#fff; height:50px; line-height:50px; text-align:center;}
.real_sub a{ color:#fff; font-size:18px;}
.grey{ color:#999;}
.grey img{ width:20px; vertical-align:-5px; margin-right:3px;}

.mx_top{background:#fff; overflow:hidden; padding:13px 0; text-align:center;}
.mx_top_body { width:50%; float:left; font-size:16px; line-height:24px; border-right:1px solid #e6e6e6; }
.mx_top_body  span{ color:#ff5c00;}
.mx_top_body img{ width:50px; display:block; margin:3px auto 8px;}
.mx_body{ background:#fff; overflow:hidden; margin:10px auto;}
.mx_body li a{ padding:10px; line-height:35px; display:block;}
.tx{ height:23px; margin-right:6px;    vertical-align: -5px;}
.mx_body li { border-bottom:1px solid #e6e6e6;}
.mx_body li  span{ float:right; color:#999;}
.jt{ height:12px; margin-left:5px; vertical-align:0px;}

.mpbody{background:#fff; overflow:hidden; }
.mp_head{background:url(img/mp_01.jpg) #0099E5  no-repeat  bottom;background-size:100%; text-align:center; overflow:hidden; padding:10% 0;  min-height:200px;}
.mp_head img{ width:90px; border-radius:50%;}
.mp_head  h3{ margin-top:10px; color:#fff; font-size:16px;}
.mp_head p{ opacity:0.65; color:#fff; font-size:15px; margin-top:8px;}
.mp_erweima{ text-align:center; margin-top:30px; color:#999; font-size:14px;}
.mp_erweima img{ width:60%; margin:0px auto 5px; display:block;}
.mp_con{ margin:10px auto;}
.mp_con img{ width:100%;}
.mp_foot{ background:url(img/mp_09.jpg) #0099e5 no-repeat top; background-size:100%; color:#fff; text-align:center; line-height:50px; padding-top:10px;}

.lbbody{ background:#fff; overflow:hidden; margin-bottom:60px;}
.lbbody li{ border-bottom:1px solid #e6e6e6; }
.lbbody li span{ float:right; border:1px solid #e6e6e6; background:#fff; border-radius:3px; font-size:14px; color:#999; padding:2px 6px; margin-top:18px;}
.lb_tx{ width:60px; border-radius:50%; float:left; margin-right:10px;}
.lb_tb{ height:15px; margin-left:5px; vertical-align:0;}
.lbbody li a{ display:block; padding:10px 15px; overflow:hidden;}
.lbbody li h3{ margin-top:7px;}
.lbbody li p{ margin-top:5px; color:#666;}
.lb_foot{ height:54px; background:#fff; position:fixed; bottom:0; width:100%;}
.lb_foot ul li{ width:33%; float:left; text-align:center; padding-top:6px; line-height:20px; padding-bottom:8px; border-top:1px solid #e6e6e6;}
.lb_foot ul li.blue{ width:34%; background:#0099e5; display:block; color:#fff; border-top:1px solid #0099e5;}
.lb_foot ul li span{ color:#0099e5; font-size:19px;}
.lb_foot ul li.blue span{ color:#fff;}

.js_head{ background:url(img/js_01.jpg) #0099e5 no-repeat top ; background-size:cover;text-align:center; overflow:hidden; padding:10% 0 0;}
.js_head_photo{position:relative;width:90px; margin:0px auto;}
.js_head img{ width:90px; border-radius:50%; }
.js_head_icon{ position:absolute; top:70px; background:url(img/jn.png) no-repeat; background-size:cover;    width: 140px;left: 50%;margin-left: -70px; line-height:34px; font-size:14px; color:#fff; height:40px;}
.js_head  h3{ margin-top:28px; color:#fff; font-size:16px;}
.js_head p{ opacity:0.65; color:#fff; font-size:15px; margin-top:8px;}
.js_head_foot{ background:rgba(0,0,0,0.1); height:40px; margin-top:10px; line-height:40px; font-size:15px; color:#005078;}
.js_head_foot span{ padding:0 5%; opacity:0.6;}

.tabs{ width:100%; margin:0px auto; overflow:hidden;}
.tabs-header{ background:#fff; overflow:hidden;}
.tabs-header ul li{ float:left; width:25%; padding-bottom:10px; padding-top:6px; text-align:center;}
.tabs-header ul li a{ color:#666;}
.tabs-header ul li img{width:50px; margin:5px auto; display:block;}
.active{ border-bottom:2px solid #0099e5;}
.tab{ background:#fff; overflow:hidden; overflow:hidden;}

.tab dl dt{ border-bottom:1px solid #e6e6e6; padding:15px 10px;}
.tab dl dd{display: -ms-flex;display: -ms-flex;display: flex; width:92%; margin:15px auto; overflow:hidden;}
.tab dl dd h3{ width:25px;}
.tab dl dd h3 img{ width:18px;}
.tab dl dd  div{-webkit-flex: 1 ;-moz-flex: 1 ;-ms-flex: 1 ;flex: 1 ; color:#999; line-height:24px;}
.tab dl dd  div h4{ font-weight:100; line-height:26px; color:#555; height:30px;}
.js2_sj{ background:#f5f5f5; overflow:hidden; width:100%;    padding: 18px 0 0; text-align:center; font-size:14px; color:#999; outline:0;}
.real_sub:hover{ background:#0089d0;}

#goodcover{display:none;position:absolute;top:0;left:0;width:100%;height:150%;background-color:#000;z-index:1001;-moz-opacity:.8;opacity:.5;filter:alpha(opacity=80)}
#code{ width:86%;background-color:#fff;padding:10px;position:absolute;display:none;left:50%;z-index:1002; margin-left:-43%; }
#closebt{float:right}
#closebt img{width:20px}
.goodtxt{ text-align:center; font-size:18px; padding:20px 0; font-weight:bold;}
.bt_icon{ width:100%; margin:10px auto; overflow:hidden;}
.bt_icon_img{ height:40px;    vertical-align: -13px;}
.bt_icon label{ display:block; padding-left:10%;}
.code-img{ text-align:center;}
.sj_suc{ margin:0  auto; text-align:center;}
.sj_suc p{ color:#999; padding:10px  0;}
.sj_suc h3{ padding-bottom:30px;}