html{overflow-x:hidden;height:100%;min-width:320px;font-size:50px;-webkit-tap-highlight-color:transparent}
body{margin:0;padding:0;background-color:#f0efed;color:#333;font-size:.28em;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:1}
a:active,a:hover{outline:0}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
img{border:0;vertical-align:middle}
@-ms-viewport{width:device-width}
h1,h2,h3,h4,h5{margin:0;padding:0}
button,input,select,textarea{font-size:inherit;font-family:inherit;line-height:inherit}
a{outline:0;color:#333;text-decoration:none}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a.react,label.react{display:block;height:100%;color:inherit}
a.react.react-active,a.react:active,label.react:active{background:rgba(0,0,0,.1)}
ul{margin:0;padding:0;list-style-type:none}
hr{margin-top:.28rem;margin-bottom:.28rem;border:0;border-top:1px solid #DDD8CE}
h6,p{text-align:justify;line-height:1.41;word-break:break-all}


.gift_head{ height:0.75rem; background:#fff; line-height:0.75rem; font-family:"微软雅黑"; font-size:0.28rem;position:fixed; top:0px; width:100%; z-index:999999;}
.gift_head h3{ float:left; width:4px; height:0.35rem; background:#ec5151; margin-left:0.15rem; margin-right:0.1rem; margin-top:0.2rem;}
.gift_box{ width:97%; margin:0px auto; overflow:hidden;}
.gift_adver{ padding-top:0.75rem;}
.gift_box ul li { overflow:hidden; background:#fff; position:relative; margin-top:0.1rem;}
.gift_box ul li  a{border:1px solid #ec5151; display:block; height:2.2rem;}
.gift_box ul li a:hover{ border:1px solid #000}
.gift_box_in span{position: absolute;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  z-index: 1;}
.gift_box_in_img{position: absolute;
  width:2.2rem;
  height:2.2rem;
  text-align: center;
  overflow: hidden;}
.gift_box_in_wen {margin-left: 2.35rem;
  position: relative;
  height: 2.2rem;}
  
.gift_box_in_wen h4{ font-size:0.24rem; line-height:0.36rem; font-weight:100; padding-right:0.1rem; padding-top:0.1rem;}
.gift_box_in_wen h5{ font-family:"微软雅黑"; margin-top:0.2rem; color:#ec5151;}
.gift_box_in_wen h6{ background:#ec5151; width:0.4rem; text-align:center; line-height:0.4rem; color:#fff; margin:0px; padding:0px; position:absolute; bottom:0px; right:0; font-weight:100;}
.gift_box ul li a:hover .gift_box_in_wen h6{ background:#000;}
.giftbag_div{ background:#fff; padding:3%; margin:0px auto; line-height:0.7rem; font-size:0.24rem;}
.giftbag_div  select{ height:0.7rem;}
.giftbag_div p span{ border:2px solid #ec5151; border-radius:10px; padding:0 10px; float:right; color:#ec5151; height:0.36rem; margin-top:0.08rem; line-height:0.36rem;}
.giftbag_div a{ display:block;}
.giftbag_div a:hover{ background:#900; display:block; color:#fff;}

.morph-button-inflow{ margin:0px auto; height:0.6rem; overflow:hidden;}
.morph-button>button{position:relative;padding:0 1em;border:none;background-color:#e85657;color:#f9f6e5;text-transform:uppercase;letter-spacing:1px;font-weight:700;line-height:0.6rem; width:100%;overflow:hidden}
.morph-button2>button{position:relative;padding:0 1em;border:none;background-color:#e85657;color:#f9f6e5;text-transform:uppercase;letter-spacing:1px;font-weight:700;line-height:0.6rem; width:100%;overflow:hidden}
.content-style-form-4 form{overflow:hidden; padding-bottom:30px; background:#fff;}
.content-style-form-4 form p{ color:#d5bba4; font-family:"微软雅黑"; line-height:0.6rem; padding:0px 0 0 0.05rem; margin:0px;}
.content-style-form-4 input{ border:0; background:#f0f0f0; width:99%; height:0.6rem; padding-left:1%;}
.content-style-form-4 button{background: #a9896d; border:0px; height:0.9rem; text-align:center; line-height:0.9rem; color:#fff; width:100%; margin-top:0.2rem;font-family:"微软雅黑"; letter-spacing:5px;}
.content-style-form-4 .submit{background: #a9896d; border:0px; height:0.9rem; text-align:center; line-height:0.9rem; color:#fff; width:100%; margin-top:0.2rem;font-family:"微软雅黑"; letter-spacing:5px;}
.giftinfo_tp{ background:#f0efed; padding:0.75rem 0.1rem 0.1rem ; overflow:hidden;}
.giftinfo_ct{ padding:0.1rem;font-family:"微软雅黑"; font-size:0.24rem; background:#fff; margin-top:0.85rem;overflow:hidden;}
.giftinfo_ct p{ line-height:0.36rem;}
.giftinfo_bt{ border:1px solid #ec5151; width:98%; margin:0px auto; height:0.6rem; line-height:0.6rem; font-size:0.24rem;}
.giftinfo_bt span{ color:#ec5151;}
.giftinfo_sf{ width:80%; margin:0.1rem auto; overflow:hidden; text-align:center;font-family:"微软雅黑"; font-size:0.24rem; margin-top:0.2rem;}
.giftinfo_sf a{ background:#fff; border:1px solid #e6e6e6; display:block; font-size:0.3rem;padding:0.8rem 0; margin-top:0.2rem;}
.giftinfo_sf a h3{ font-size:0.32rem;font-family:"微软雅黑"; font-weight:800; color:#000; line-height:0.6rem; }
.giftinfo_sf a:hover{ background:#CCC;}
.giftinfo_button{ width:96%; height:0.7rem; background:#ec5151; border:0px; border-radius:5px; margin:0.15rem 2% ; color:#fff;font-family:"微软雅黑"; }

.prize_head{height:0.75rem; background:#fff; line-height:0.75rem; font-family:"微软雅黑"; font-size:0.28rem; width:100%;margin-top:0.4em}
.prize_head h3{float:left; width:4px; height:0.35rem; background:#ec5151; margin-left:0.15rem; margin-right:0.1rem; margin-top:0.2rem;}