 .yl_choose{
	display: none;
}


.yl_choose{
	z-index: 999;
	width: 90%;
	height: 272px;
	position: absolute;
	left: 5%;
	top: 115px;
	font-size: 16px;

	text-align: center;
}

.yl_choose li{
	/*height: 38px;*/
	line-height: 33px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}


  /*payment_time*/
.payment_time{
	width: 100%;
}
.payment_time_title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 14px;
}
.payment_time_title label{
	margin-left: 15px;
}
.payment_time_title span{
	float: right;
	margin-right: 15px;
	color: #999;
}
.payment_time_mask{
	display: none;
}
/*双线支付*/
.payment_time_masks{
	display: none;
}

.payment_time_masks_hq{
	display: none;
}

.payment_time_mask_api{
	display: none;
}

.payment_time_mask_xj{
	display: none;
}

.payment_time_list{
	width: 94%;
	margin: 0 auto;
}
.payment_time_list li{
	width: 44%;
	height: 140px;
	float: left;
	margin: 10px 3%;
}
.payment_time_list span{
	height: 105px;
	display: block;
}
.payment_time_list em{
	height: 35px;
	display: block;
	text-align: center;
	line-height: 35px;
	overflow: hidden;
	font-size: 14px;
}
.payment_time_list span a img{
	width: 100%;
	height: 100%;
}
.payment_time_mask{
	z-index: 999;
	width: 90%;
	height: 272px;
	position: absolute;
	left: 5%;
	top: 115px;
	font-size: 16px;

	text-align: center;
}
.payment_time_mask li{
	height: 38px;
	line-height: 38px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}


.payment_time_masks{
	z-index: 999;
	width: 90%;
	height: 272px;
	position: absolute;
	left: 5%;
	top: 115px;
	font-size: 16px;

	text-align: center;
}
.payment_time_masks li{
	height: 38px;
	line-height: 38px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}

.payment_time_masks_hq{
	z-index: 999;
	width: 90%;
	height: 272px;
	position: absolute;
	left: 5%;
	top: 115px;
	font-size: 16px;

	text-align: center;
}
.payment_time_masks_hq li{
	height: 38px;
	line-height: 38px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}


.payment_time_mask_api{
	z-index: 999;
	width: 90%;
	height: 272px;
	position: absolute;
	left: 5%;
	top: 115px;
	font-size: 16px;

	text-align: center;
}

.payment_time_mask_xj{
	z-index: 999;
	width: 90%;
	height: 272px;
	position: absolute;
	left: 5%;
	top: 115px;
	font-size: 16px;

	text-align: center;
}

.payment_time_mask_api li{
	height: 38px;
	line-height: 38px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}

.payment_time_mask_xj li{
	height: 38px;
	line-height: 38px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}


#bg{
	background-color:#000;
	position:fixed;
	z-index:99;
	left:0;
	top:0;
	display:none;
	width:100%;
	height:100%;
	opacity:0.3;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
}