/*@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 1024px) { div{ font-size: 21px; }}
@media only screen and (max-width: 768px) { div{ font-size: 20px; }}
@media only screen and (max-width: 640px) { div{ font-size: 19px; }}
@media only screen and (max-width: 600px) { div{ font-size: 18px; }}
@media only screen and (max-width: 560px) { div{ font-size: 17px; }}
@media only screen and (max-width: 500px) { div{ font-size: 16px; }}
@media only screen and (max-width: 460px) { div{ font-size: 15px; }}
@media only screen and (max-width: 400px) { div{ font-size: 14px; }}
@media only screen and (max-width: 360px) { div{ font-size: 12px; }}
@media only screen and (max-width: 320px) { div{ font-size: 11px; }}


html, body {
	color:#222;
	font-family:Microsoft,YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	text-decoration: none;
}
body{
	background:#f3f3f3;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:none;
}
li{
	list-style: none;
}
a {
	color:#000000;
	text-decoration: none;
}

.fl{
	float:left;
}
.fr{
	float:right;
}

/*###############header##################*/


#header{
	width:100%;
	height:auto;
}

#header .top{
	width:92%;
	height:32px;
	padding:7px 4%;
	background:#445053;
}

#header .top .wrap{
	width:auto;
	height:32px;
	padding-left:32px;
	background:url(../images/search.png) no-repeat left 0;
}

#header .top .box{
	width:auto;
	height:32px;
	padding-right:7px;
	background:url(../images/search_right.png) no-repeat right 0;
}

#header .top input{
	width:100%;
	height:32px;
	border:none;
	outline:none;
	border-radius:0;
	background:url(../images/search_right.png) repeat-x 0 -32px;
}

#header .banner{
	width:100%;
}

#header .banner img{
	width:100%;
}

#header .ad{
	width:100%;
	height:34px;
	background:#da0200;
}

#header .ad span{
	display:block;
	width:auto;
	height:34px;
	line-height:34px;
	float:left;
	margin-left:5.6%;
	color:#fff;
}

#header .ad button{
	width:auto;
	height:24px;
	color:#fff;
	padding:0 20px;
	margin-top:5px;
	margin-right:5.6%;
	background:#ff9f38;
	border:none;
	border-radius:12px;
	float:right;
	font-size:1.2em;
	font-weight:bold;
}

#header .nav{
	width:94.4%;
	height:auto;
	padding:16px 0 16px 5.6%;
	background:#eaeceb;
}
#header .nav a{
	color:#292b2a;
}

#header .nav li{
	width:21.75%;
	height:auto;
	text-align:center;
	float:left;
	margin:0 6.9%;
}

#header .nav li img{
	width:100%;
	height:auto;
}
#header .nav li p{
	line-height:40px;
}


/*###############content##################*/

#content{
	width:100%;
	height:auto;
}

#content .ad-hot img{
	width:100%;
}

#content .list{
	width:95.64%;
	height:auto;
	padding:0 2.18%;
	background:#f9f9f9;
	margin-top:10px;
}
#content .list ul{
	width:100%;
	height:auto;
}

#content .list ul li{
	width:97%;
	padding:1.4%;
	border:#e4e4e4 solid 1px;
	margin-bottom:10px;
	position:relative;
}
#content .list ul li .pic{
	width:36.6%;
	float:left;
}
#content .list ul li .pic img{
	width:100%;
}

#content .list ul li .pic-detail{
	width:60%;
	float:left;
	margin-left:10px;
}
#content .list ul li .pic-detail h2{
	font-size:1.2em;
	line-height:18px;
	color:#2c2c2c;
	font-weight:normal;
}

#content .list ul li .pic-detail p{
	line-height:20px;
}

#content .list ul li .buy{
	width:40px;
	height:auto;
	position:absolute;
	right:-6px;
	bottom:12px;
	z-index:20;
}
#content .list ul li .buy img{
	width:100%;
}

#content .list-all{
	width:100%;
	position:relative;
}

#content .nav-left{
	width:23.5%;
	float:left;
	padding-top:24px;
	position:absolute;
	z-index:20;
}

#content .nav-left li{
	width:100%;
}

#content .nav-left li a{
	display:block;
	height:32px;
	width:94%;
	line-height:32px;
	padding-left:6%;
	font-size:1.1em;
	color:#252525;
}

#content .nav-left li .active{
	color:#e30100;
	border-top:#e0e0e0 solid 1px;
	border-bottom:#e0e0e0 solid 1px;
	background:#f9f9f9;
}

#content .list-right{
	width:76.5%;
	border-left:#e0e0e0 solid 1px;
	background:#f9f9f9;
	float:right;
	margin-left:-1px;
	z-index:10;
}

#content .list-right .list-title{
	width:100%;
	height:24px;
	line-height:24px;
	background:#eeeeee;
	border-bottom:#eeeeee solid 1px;
}
#content .list-right .list-title span{
	margin-left:10px;
}


#content .list-right ul{
	width:100%;
}

#content .list-right ul li{
	width:96%;
	padding:8px 4px;
	border-bottom:#dcdcdc solid 1px;
	position:relative;
}

#content .list-right ul li .pic{
	width:21%;
	float:left;
}

#content .list-right ul li .pic img{
	width:100%;
}

#content .list-right ul li .pic-detail{
	width:79%;
	float:left;
}

#content .list-right ul li .pic-detail h2{
	font-size:1.2em;
	font-weight:normal;
	color:#2d2d2d;
}

#content .list-right ul li .pic-detail p{
	font-size:1.2em;
	color:#e30100;
	margin-top:18px;
}

#content .list-right ul li .buy{
	width:19px;
	height:19px;
	position:absolute;
	z-index:30;
	right:10px;
	bottom:8px;
}

#content .list-right ul li .buy img{
	width:19px;
	height:19px;
	position:absolute;
	z-index:30;
}






/*###############copyright##################*/


#copyright{
	width:100%;
	height:20px;
	background:#000;
}

#copyright p{
	color:#fff;
	margin-left:12px;
	line-height:20px;
}

/*###############footer##################*/

#footer{
	width:100%;
	height:45px;
	background:#eaeceb;
	border-top:#e0e0e0 solid 1px;
	position:fixed;
	bottom:0;
	z-index:100;
}

#footer ul{
	width:100%;
	height:45px;
}
#footer ul a{
	color:#666666;
}

#footer ul li{
	width:24.75%;
	padding-top:2px;
	height:43px;
	border-right:#e1e3e2 solid 1px;
	text-align:center;
	float:left;S
}

#footer .pic-wrap{
	width:24%;
	height:auto;
	padding:0 38%;
}
#footer .pic-wrap img{
	width:100%;
}

#footer ul li p{
	line-height:20px;
}

#footer ul li strong{
	width:14px;
	height:14px;
	font-size:0.9em;
	line-height:14px;
	border-radius:7px;
	background:#fd4708;
	color:#fff;
	position:absolute;
	top:1px;
	right:24px;
	z-index:200;
}

